/* SKYLINE Generic CSS starts */
 #playarea #target, .viamagus-container {
}
.container-fluid {
     padding: 0px;
}
 .viamagus-heading1 {
     text-transform: uppercase;
     color: #fff;
     line-height: 1.2;
}
 .viamagus-heading3 {
     text-transform: uppercase;
     color: #fff;
     line-height: 1.25;
}
 .viamagus-section-heading {
     text-transform: uppercase;
     color: #62646f;
     line-height: 1.25;
     letter-spacing: 1px;
}
 .viamagus-heading2 {
     text-transform: uppercase;
     color: #62646f;
     line-height: 1.25;
     letter-spacing: 1px;
}
 .viamagus-paragraph {
     color: #898b93;
     line-height: 1.5;
     word-break: break-word;
}
 .viamagus-heading2.featurette-heading {
     margin-top: 0px 
}
 .viamagus-component-content {
     padding: 20px 100px;
     max-width: 1366px;
     margin: auto;
}
 .well .viamagus-component-content, .viamagus_txt-slide .viamagus-component-content {
     padding: 0px;
     max-width: 100%;
     margin: auto;
}
 .viamagus-spacer .viamagus-component-content {
     padding: 0px 100px;
}
 .viamagus-component-content-inner {
     padding: 0px 100px;
     max-width: 1366px;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
}
 .viamagus_landimg .viamagus-component-content {
     margin: auto !important;
     padding-top: 0px !important;
     padding-bottom: 0px !important;
}
 .viamagus_footer .viamagus-component-content {
     padding: 35px 100px 0 100px;
}
 .vm-social-wall .viamagus-component-content {
     padding: 0px;
}
 .viamagus-background .backstretch:before {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.1) 
}
 .viamagus-button-default {
     background: #1E9FB4;
     border: 0px solid;
     font-size: 14px;
     color: #fff;
     margin: auto;
     border-radius: 0px;
     text-shadow: 0 0 0;
     padding: 12px 25px;
     margin-top: 20px;
}
 .viamagus-button-default:hover {
     background: #333;
     color: #fff;
}
 .viamagus-button-flat {
     background: #1E9FB4;
     padding: 20px 45px;
     text-shadow: 0 0 0;
     color: #fff;
     font-size: 17px;
     text-decoration: none;
     border: none;
     vertical-align: middle;
     border-radius: 0;
     margin-top: 20px;
}
 .viamagus-button-flat:hover {
     background: #d60742;
     color: #fff;
}
 .viamagus-button-transparent {
     background: rgba(0, 0, 0, 0);
     border: 2px solid;
     color: #fff;
     margin: auto;
     border-radius: 0px;
     text-shadow: 0 0 0;
     padding: 10px 30px;
     margin-top: 20px;
}
 .viamagus-button-transparent:hover {
     background: rgba(0, 0, 0, 0.2);
     color: #fff;
}
 .mfp-figure:after {
     box-shadow: none;
     background: none;
}
/* Nav Bar/Header */
 .viamagus_header {
     display: block;
     position: relative;
     z-index: 1;
}
 .viamagus_header .viamagus-component-bg-colour {
     background-color: #494B55;
}
 .viamagus_header .navbar {
     margin-bottom: 0px !important;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
 .viamagus_header .navbar-inner {
     background: none;
     padding: 0px;
     border-radius: 0px;
     border: 0px;
     box-shadow: 0 0 0;
}
 .viamagus_header .nav {
     list-style: none;
     position: relative;
     float: right;
     margin: 0;
}
 .viamagus_header .brand {
     color: #FFF;
     margin-left: 0px;
     padding-left: 0px;
     text-shadow: none;
     text-transform: uppercase;
}
 .viamagus_header .brand:hover {
     color: #1E9FB4;
}
 .viamagus_header .brandcenter {
     width: 100%;
     margin-left: -20px;
}
 .viamagus_header .navbar-inverse .nav-collapse .nav>li.active>a {
     background: none;
     color: #1D9EB3;
     -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
     box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
     outline: none;
}
 .viamagus_header .navbar-inverse .nav>li>a {
     text-shadow: 0 0 0;
     padding: 10px 20px 10px 20px;
}
 .viamagus_header .navbar-inverse .nav>li:last-child a {
     padding: 10px 0px 10px 20px;
}
 .viamagus_header .nav li a {
     display: block;
     color: #afafaf;
     font-size: 14px;
     font-weight: 100;
     letter-spacing: 1px;
}
 .viamagus_header .nav li a:hover {
     text-decoration: none;
     color: #2e3133;
}
 .viamagus_header .navbar .btn-navbar {
     margin-top: 15px;
}
 .viamagus_header .navbar-inverse .nav-collapse .nav>li>a {
     background: none;
     text-align: right;
}
 .viamagus_header .navbar-inverse .nav-collapse .nav>li>a:hover {
     background: none;
     color: #333;
}
 .viamagus_header .menu-center {
     display: table;
     text-align: center;
     width: 100% !important;
}
 .viamagus_header .logomenu-center {
     display: table;
     text-align: center;
     width: auto !important;
}
 .viamagus_header .collapse-center {
     display: table-cell;
     vertical-align: middle;
}
 .viamagus_header .collapse-centerbrand {
     display: table;
     margin: auto;
}
 .viamagus-sticky-header {
     position: fixed !important;
     top: 0;
     width: 100%;
     z-index: 1010;
}
 .viamagus_header .dropdown-menu {
     border: 0;
     border-top: 2px solid #F1720C;
     border-radius: 0px;
     background: #fff;
     margin-top: 10px;
     position: absolute;
     top: 100%;
     right: 0px !important;
     margin-top: 10px;
     left: auto;
     padding: 0;
}
 .viamagus_header .navbar .nav>li>.dropdown-menu:after {
     left: auto !important;
     right: 17px !important;
}
 .viamagus_header .navbar .nav>li>.dropdown-menu:before {
     left: auto !important;
     right: 17px !important;
}
 .viamagus_header .navbar .nav>li>.dropdown-menu:before {
     position: absolute;
     top: -8px;
     display: inline-block;
     border-right: 7px solid transparent;
     border-bottom: 7px solid transparent;
     border-left: 7px solid transparent;
     border-bottom-color: rgba(0, 0, 0, 0.2);
     content: '';
}
 .viamagus_header .navbar .nav>li>.dropdown-menu:after {
     position: absolute;
     top: -8px;
     display: inline-block;
     border-right: 7px solid transparent;
     border-bottom: 7px solid #F1720C;
     border-left: 6px solid transparent;
     content: '';
}
 .viamagus_header .dropdown-menu li a {
     background: none;
     border-bottom: 1px solid #e7e7e7;
     color: #444 !important;
     border-bottom: 1px solid #e7e7e7;
     font-weight: 400;
     font-size: 14px;
     line-height: 35px;
     text-align: right;
     padding: 3px 15px;
     -webkit-transition: all 200ms ease-in;
     -o-transition: all 200ms ease-in;
     -moz-transition: all 200ms ease-in;
     transition: all 200ms ease-in;
}
 .viamagus_header .navbar-inverse .nav li.dropdown.open>.dropdown-toggle {
     background: none;
}
 .viamagus_header .navbar-inverse .nav li.dropdown>.dropdown-toggle .caret {
     border-top-color: #999;
     border-bottom-color: #999;
}
 .viamagus_header .navbar-inverse .nav li.dropdown>.dropdown-toggle .caret:hover {
     border-top-color: #e33b00;
     border-bottom-color: #e33b00;
}
 .viamagus_header .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
     background: #000;
     color: #777;
}
 .viamagus_header .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
     background: none;
     text-align: right;
}
 .viamagus_header .navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
     color: #999;
     background-color: none;
}
 .viamagus_header .navbar-inverse .nav-collapse .dropdown-menu a:hover {
     background: none;
}
/* Hero Section/Landing Image */
 .viamagus_landimg {
     -webkit-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
     box-sizing: border-box;
     display: block;
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
}
 .viamagus_landimg .viamagus-component-bg-colour {
     width: 100%;
}
 .displayTable {
     display: table;
     width: 100%;
}
 .displayTableCell {
     display: table-cell;
     width: 100%;
     vertical-align: middle;
     height: 500px;
}
 .viamagus_landimg .box-video {
     overflow: hidden;
}
 .viamagus_landimg #video-area, .viamagus_landimg #box-left {
     display: table;
     min-height: 350px;
}
 .viamagus_landimg #video-area .hero {
     text-align: center;
}
 .viamagus_landimg #video-area .hero img {
     max-height: 350px;
     float: none;
}
 .viamagus_landimg .hero {
     display: table-cell;
     vertical-align: middle;
}
 .viamagus_landimg .hero-img-center img {
     max-height: 150px;
}
 .viamagus_landimg #box-center {
     max-height: 350px;
}
 .viamagus_landimg .text-center .viamagus-cart-button {
     text-align: center !important;
}
/* Image */
 .viamagus_image {
     margin: 0px;
     display: table;
     width: 100%;
}
 .viamagus_image img {
     margin: auto;
     vertical-align: middle;
     display: block;
     text-align: center;
}
/* Image/text */
 .viamagus-image-text .featurette {
     overflow: hidden;
     background: ;
}
 .viamagus-image-text .featurette .span6 {
     margin: 0px;
}
 .viamagus-image-text .featurette-image {
     position: relative;
     z-index: 10;
}
 .featurette-image.pull-right, .pull-right img.featurette-image {
     margin-left: 30px;
}
 .featurette-image.pull-left, .pull-left img.featurette-image {
     margin-right: 30px;
}
 .featurette .lead {
     margin: 0px;
}
 .viamagus-image-text ol, .viamagus-image-text ul {
     list-style-position: inside;
     margin: 0;
}
/* 3 Column Grid */
 .columngrid-wrap img.why-section {
     float: left;
     margin-right: 10px;
}
 .viamagus_circlimg img.why-section {
     border-radius: 0px;
}
 .viamagus_circlimg img:hover {
     opacity: 0.9;
     filter: alpha(opacity=90);
}
 .viamagus_circlimg ul, .viamagus_circlimg ol {
     list-style-position: inside;
     margin: 0;
}
/* Text Slider */
 .viamagus_txt-slide .block {
     display: table;
     border: 0px !important;
     background: none !important;
     margin: 0em;
     border-top: none;
}
 .viamagus_txt-slide .center {
     display: table-cell;
     vertical-align: middle;
}
 .viamagus_txt-slide .carousel-control.left {
     left: 0px;
}
 .viamagus_txt-slide .carousel-control.right {
     right: 0px;
}
 .viamagus_txt-slide .carousel-control.right, .viamagus_txt-slide .carousel-control.left {
     -moz-outline-style: none;
     outline: none;
     border-radius: 0;
     border: 0 none;
     width: 10px;
     background-color: transparent;
     opacity: 0.9;
     margin-top: 0px;
     color: #fff;
     font-size: 30px;
     display: block;
     padding: 0 25px;
     height: 100%;
     top: 0;
}
 .viamagus_txt-slide .carousel-control .arrow {
     display: block;
     position: absolute;
     top: 50%;
     margin-top: -16px;
}
 .viamagus_txt-slide .carousel-control.right .arrow {
     left: 35px;
     color: #fff;
}
 .viamagus_txt-slide .carousel-control.left .arrow {
     right: 35px;
     color: #fff;
}
 .viamagus_txt-slide .carousel-control.hide {
     display: none !important;
}
 .viamagus_txt-slide .hidden-phone {
     display: block !important;
}
 .viamagus_txt-slide .fa-2x {
     font-size: 35px;
}
/* Carousel */
 .well {
     background-color: transparent;
     border-radius: 0px;
     border: 0px;
     margin-bottom: 0px;
}
 .carousel {
     margin-bottom: 0px;
}
 .carousel-control {
     background: transparent;
     border: none;
     opacity: .7;
     width: 22px;
}
 .well .carousel-indicators {
     right: 100px !important;
}
 .well .carousel-control {
     position: absolute;
     top: 51% !important;
}
 .carousel-inner > .item > img {
     margin: 0 auto;
     top: 0;
     left: 0;
}
 .viamagus-carousel-slider-info {
     background: rgba(1, 1, 1, 0.6);
     position: absolute;
     bottom: 0;
     width: 100%;
     padding-bottom: 5px;
}
 .viamagus-carousel-slider-text {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     display: block;
}
 .slider-text-center {
     display: table;
     width: 100%;
}
 .slider-text-center-text {
     display: table-cell;
     vertical-align: middle;
}
 .viamagus-clients-list .elastislide-list li {
     width: auto !important;
     max-width: none !important;
     max-height: none !important;
}
/*Media Galleria */
 .galleria {
     background: transparent;
}
 .galleria .notouch {
     background: transparent;
}
/* Grid Gallery Starts Here */
 .viamagus-grid-item.viamagus-grid {
     position: absolute;
     width: 200px;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}
 .viamagus-grid img {
     max-width: 100%;
     width: 100%;
     display: block;
     -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
     -moz-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
     -o-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
     transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
     -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
     -o-transform-origin: 50% 0%;
     -ms-transform-origin: 50% 0%;
     transform-origin: 50% 0%;
}
 .viamagus-grid .viamagus-grid-item-info {
     bottom: 0;
     text-overflow: ellipsis;
     background: #F7F5F2;
     padding: 30px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1000;
     width: 100%;
     height: 100%;
     display: block;
     color: #45494d;
     -moz-opacity: 0;
     opacity: 0;
     -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .viamagus-grid .viamagus-grid-item-info:hover {
     opacity: 0.9;
}
 .viamagus-grid h4 {
     padding: 0px 5px;
}
/* Masonry */
 .viamagus-masonry .viamagus-grid-item-info {
     color: #333;
     background: #fff;
     padding: 1px;
}
 .viamagus-masonry .viamagus-grid-item-info h4 {
     margin: 5px 0;
     padding: 0 10px 5px;
}
 .viamagus-masonry .viamagus-grid-item-info div {
     padding: 0px 10px 5px;
}
 .viamagus-masonry img {
     width: 100%;
     height: auto;
     margin: 0px;
     padding: 0px;
     display: block;
}
 .viamagus-grid-gallery .image-bottom {
     color: #333;
     background: #fff;
     bottom: 0;
     position: absolute;
     width: 100%;
}
 .viamagus-grid-gallery .image-top {
     color: #333;
     background: #fff;
     top: 0;
     position: absolute;
     width: 100%;
}
 .viamagus-grid-gallery .image-hover {
     bottom: 0;
     background: #F7F5F2;
     padding: 30px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1000;
     width: 100%;
     height: 100%;
     display: block;
     color: #45494d;
     -moz-opacity: 0;
     opacity: 0;
     -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .viamagus-grid-gallery .image-hover {
     word-wrap: break-word;
}
 .viamagus-grid-gallery .viamagus-grid .image-hover:hover {
     opacity: 0.9;
}
/* viamagus-cart */
 .viamagus-cart-container {
     border: 1px solid #DEDEDE !important;
}
 .viamagus-cart-container h3.viamagus-product-name {
     font-size: 18px;
}
 .viamagus-cart-container h4.viamagus-product-price {
     font-size: 14px;
}
 .viamagus-cart .viamagus-grid-item-info {
     color: #333;
     background: #fff;
     padding: 0 5px !important;
}
 .viamagus-cart {
     border: 0 !important;
}
 .viamagus-cart-img {
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}
/* Contact */
 .viamagus_contact .form-horizontal {
     margin: 0;
}
 .viamagus_contact ul {
     padding: 0;
     margin: 0px;
}
 .viamagus-contact-form-layout-2 .span4 {
     padding: 20px 0px;
}
 .viamagus_contact p {
     color: inherit;
}
 .viamagus_contact input.submit {
     margin-top: 20px;
}
 .viamagus_contact p.contact-message {
     margin: 0px;
}
 .viamagus_contact .map {
     position: relative !important;
     color: #000;
}
 .viamagus_contact input[type=text], .viamagus_contact input[type=email] {
     height: 2.90em;
     color: white;
}
 .viamagus_contact textarea {
     color: white;
     height: auto;
}
 .viamagus_contact input[type=text], .viamagus_contact input[type=email], .viamagus_contact textarea {
     text-align: left;
     vertical-align: middle;
     width: 97%;
     background: transparent;
     color: #000;
     border-radius: 0px;
     padding: 4px;
}
 .viamagus_contact .span6 input[type=text], .viamagus_contact .span6 input[type=email], .viamagus_contact .span6 textarea {
     width: 98%;
}
 .viamagus_contact input, button, select, textarea {
     font-family: inherit;
}
 .viamagus_contact li {
     list-style: none;
}
 .viamagus_contact label {
     color: #626263;
}
 .viamagus_contact .viamagus-contact-form-address {
     display: table;
     min-height: 180px;
}
 .viamagus_contact .viamagus-form-alignment, .viamagus-google-map .via-align {
     display: table-cell;
     vertical-align: middle;
}
 .viamagus-google-map .span4 {
     display: table;
     min-height: 300px;
}
 .viamagus_contact img {
     max-width: none;
}
 .viamagus_contact .viamagus-customer-email a {
     word-break: break-word;
     color: inherit;
}
/* Footer */
 .viamagus_footer .copyright-center {
     text-align: center;
}
 .viamagus_footer .socials-left {
     font-size: 20px;
     text-align: left;
}
 .viamagus_footer .socials-right {
     font-size: 20px;
     text-align: right;
}
 .viamagus_footer .viamagus-paragraph a {
     color: inherit;
}
 .viamagus_footer .viamagus-paragraph .span3 a {
     padding: 0px 10px;
     color: inherit;
}
 .viamagus_footer a:hover {
     opacity: 0.5;
     text-decoration: none !important;
}
 #logo a:hover {
     text-decoration: none;
}
/* SMS Update */
 .vm-text-update {
     list-style: none;
     margin: 20px 0px;
}
 .vm-text-update > li > .vm-text-update-panel {
     background: rgba(255, 255, 255, 0);
     width: calc( 100% - 135px);
     float: left;
     border: 1px solid #d4d4d4;
     border-radius: 2px;
     padding: 30px;
     color: #626263;
}
 .vm-text-update > li {
     margin-bottom: 0px;
}
/* Product Listing */
 .vm-product-group {
     padding: 0px;
}
 .vm-product-group .vm-product {
     padding: 0 100px;
}
/* Social Wall */
 .vm-social-wall .viamagus-heading1 {
     text-align: center;
     line-height: 1.2;
     margin-top: 0;
     padding-top: 5px;
}
 .vm-social-wall .viamagus-heading3 {
     text-align: center;
}
/* Custom CSS Starts here*/
 .viamagus-heading2.featurette-heading {
     margin-top: 0px;
     margin-bottom: 100px;
}
 .viamagus-section-heading, .viamagus-heading2.featurette-heading {
     position: relative;
}
 .viamagus-section-heading:after, .viamagus-heading2.featurette-heading:after {
     content: "";
     border-bottom: 3px solid #62646F;
     position: absolute;
     bottom: -25px;
     left: 0;
     width: 60px;
}
/* Responsive CSS Starts here*/
 @media (min-width: 650px) {
     .viamagus_landimg {
         background-attachment: fixed;
    }
}
 @media ( max-width: 979px) {
     .well .viamagus-component-content, .viamagus_txt-slide .viamagus-component-content {
         padding: 0px !important;
    }
     .viamagus-component-content, .vm-product-group .vm-product {
         padding: 100px 20px !important;
    }
     .viamagus-component-content-inner {
         padding: 0 35px;
    }
     .viamagus_header .navbar .brand {
         padding: 10px 20px 10px;
         padding-left: 0px;
    }
     .viamagus_header .viamagus-component-content {
         padding: 0px 20px !important;
    }
     .viamagus_header .brand img {
         max-width: 100px;
    }
     .viamagus_header .collapse-center {
         display: table-cell;
         vertical-align: middle;
         padding-top: 40px;
    }
     .viamagus_header .navbar .btn-navbar {
         margin-top: 7px;
         position: absolute;
         right: 18px;
    }
     .viamagus_header .nav-collapse .dropdown-menu li li a {
         margin-bottom: 0px !important;
    }
     .viamagus_header .navbar-inverse .nav>li a {
         padding: 10px 0px 10px 20px !important;
    }
     .viamagus_header .dropdown-menu {
         position: relative;
         min-width: 120px;
    }
     .viamagus_header .dropdown-menu li a {
         white-space: normal;
         word-break: break-word;
    }
     .viamagus_header .navbar-inverse .dropdown-menu li a {
         padding: 10px 20px !important;
    }
     #viamagus_columngrid_6253 .viamagus-component-content, #viamagus_Contact_Form_2992 .viamagus-component-content, #viamagus_Footer_9963 .viamagus-component-content {
         padding: 20px 20px !important;
    }
     #viamagus_Address_4407 .viamagus-component-content {
         padding-top: 20px !important;
    }
}
/* Tabs CSS */
 @media (max-width: 768px) {
     .viamagus-heading1, .viamagus-heading1 span {
         font-size: 36px !important;
    }
     body {
         padding: 0px;
    }
     .viamagus_footer {
         margin: 0px;
    }
     .viamagus_footer .socials-left, .viamagus_footer .socials-left {
         text-align: center;
    }
     .viamagus_landimg #box-left, .viamagus_landimg #video-area {
         min-height: 100px;
    }
     .viamagus_landimg #video-area .hero img {
         margin: 10px 0;
    }
     .columngridone, .columngridtwo, .columngridthree {
         margin: 10px 0px 30px;
    }
}
/* Mobiles CSS */
 @media ( max-width: 500px) {
     .viamagus-heading1, .viamagus-heading1 span {
         font-size: 32px !important;
    }
     .featurette-image.pull-left, .pull-left img.featurette-image {
         margin-right: 0px;
         margin-top: 0;
    }
     .featurette-image {
         margin: 10px 0px;
         width: 100% !important;
    }
     .featurette-image.pull-right, .pull-right img.featurette-image {
         margin-left: 0px;
         margin-top: 0;
    }
     .viamagus_circlimg .img-responsive {
         display: block;
         height: auto !important;
         max-width: 100%;
    }
     .carousel-control {
         width: 12px;
    }
     .viamagus_header .menu-center {
         display: block;
    }
     .viamagus_header .collapse-center {
         display: block;
    }
     .viamagus-section-header .viamagus-section-heading {
         margin: 0;
    }
     .viamagus-spacer .viamagus-component-bg-colour {
         height: 0 !important;
    }
}
.viamagus_header .navbar-inverse .nav-collapse .nav>li>a {
     color: rgba(255, 255, 255, 1);
}
 .viamagus_header .dropdown-menu>li>a:hover, .viamagus_header .dropdown-menu>li>a:focus, .viamagus_header .dropdown-submenu:hover>a, .viamagus_header .dropdown-submenu:focus>a {
     color: rgba(255, 255, 255, 1) !important;
}
 .viamagus_header .navbar-inverse .nav-collapse .nav>li.active>a {
     color: rgba(29, 158, 179, 1) !important;
}
 .viamagus_header .navbar-inverse .nav-collapse .nav>li.active>a:hover {
     color: rgba(29, 158, 179, 1) !important;
}
 .viamagus_header li a:hover {
     color: rgba(29, 158, 179, 1) !important;
}
 .viamagus-heading1 {
     font-size: 50px;
}
 .viamagus_landimg .viamagus-heading1 {
     font-size: 50px;
}
 .viamagus_txt-slide .viamagus-heading1 {
     font-size: 50px;
}
 .slider-text-center-text .viamagus-heading1 {
     font-size: 50px;
}
 .viamagus-heading3 {
     font-size: 18px;
}
 .viamagus_landimg .viamagus-heading3 {
     font-size: 18px;
}
 .viamagus_txt-slide .viamagus-heading3 {
     font-size: 18px;
}
 .slider-text-center-text .viamagus-heading3 {
     font-size: 18px;
}
 .viamagus-section-heading {
     font-size: 34px;
}
 .viamagus-section-header .viamagus-section-heading {
     font-size: 34px;
}
 .viamagus-heading2 {
     font-size: 34px;
}
 .viamagus_circlimg .viamagus-heading2 {
     font-size: 34px;
}
 .viamagus-paragraph {
     font-size: 14px;
}
 .featurette .viamagus-paragraph {
     font-size: 14px;
}
 .viamagus-heading1 {
     font-weight: bold;
}
 .viamagus_landimg .viamagus-heading1 {
     font-weight: bold;
}
 .viamagus_txt-slide .viamagus-heading1 {
     font-weight: bold;
}
 .slider-text-center-text .viamagus-heading1 {
     font-weight: bold;
}
 .viamagus-heading3 {
     font-weight: normal;
}
 .viamagus_landimg .viamagus-heading3 {
     font-weight: normal;
}
 .viamagus_txt-slide .viamagus-heading3 {
     font-weight: normal;
}
 .slider-text-center-text .viamagus-heading3 {
     font-weight: normal;
}
 .viamagus-section-heading {
     font-weight: bold;
}
 .viamagus-section-header .viamagus-section-heading {
     font-weight: bold;
}
 .viamagus-heading2 {
     font-weight: bold;
}
 .viamagus_circlimg .viamagus-heading2 {
     font-weight: bold;
}
 .viamagus-paragraph {
     font-weight: normal;
}
 .featurette .viamagus-paragraph {
     font-weight: normal;
}
 .viamagus-blog-post-title {
     font-size: 36px;
}
 .vm-blog .vm-blog-post .post-content h1 {
     font-size: 36px;
}
 .viamagus-blog-post-desc {
     font-size: 14px;
}
 .vm-blog .vm-blog-post .post-content {
     font-size: 14px;
}
 .viamagus-product-name {
     font-size: 36px !important;
}
 .viamagus-product-desc {
     font-size: 14px !important;
}
 .viamagus-product-price {
     font-size: 14px !important;
}
 